/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input{
    width: 94.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.resultado{
    width: 90.5%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

p{
    font-weight: bold;
    margin: 1px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}